<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="Youroom ガジェット" author_email="pochi.black@gmail.com" scrolling="true">
    <Require feature="opensocial-0.8" />
    <Require feature="dynamic-height"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
    <script type="text/javascript" src="https://dl.dropbox.com/u/7052609/opensocial-jquery.min.js"></script>

    <style>
      #main {
        font-size: small;
      }
      #main ul {
        list-style: none;
      }
      #main li {
        font-size: small;
        border-bottom: 1px solid silver;
        width: 100%;
      }
    </style>

    <script type="text/javascript">
      $(function(){
        var default_img_url = "https://www.youroom.in/images/default_picture.png";

        $("#all").click(function(){
          _IS_DropMiniBrowser("https://home.youroom.in/", "全てのつぶやき", "https://home.youroom.in/");
        });

        $("#all").hover(
          function(){
            $(this).css("color", "blue");
            $(this).append($("<span> [追加する] </span>"));
          },
          function(){
            $(this).css("color", "black");
            $(this).find("span:last").remove();
          }
        );

        $("#not_read_only").hover(
          function(){
            $(this).css("color", "blue");
            $(this).append($("<span> [追加する] </span>"));
          },
          function(){
            $(this).css("color", "black");
            $(this).find("span:last").remove();
          }
        );

        $("#not_read_only").click(function(){
          _IS_DropMiniBrowser("https://home.youroom.in/unreads", "未読のつぶやき", "https://home.youroom.in/unreads");
        });

        function makeRoomList(room_list) {
          eval(room_list).each(function(room, count) {
            renderRoom(room.group.name, convertUrl(room.group.to_param), (count+1).toString());
            setLinkAction(room.group.name, groupUrl(room.group.to_param), (count+1).toString());
          });

          gadgets.window.adjustHeight();
        };

        function setLinkAction(name, url, num) {
          var id = "#room"+num;
          $(id).click(function() {
            // _IS_DropMiniBrowser(url, name, url);
            _IS_DropGadget(url, name);
          });

          $(id).hover(
            function(){
              $(this).css("color", "blue");
              $(this).append($("<span> [追加する] </span>"));
            },
            function(){
              $(this).css("color", "black");
              $(this).find("span:last").remove();
            }
          );

        };

        function convertUrl(param){
          return "https://" + param + ".youroom.in/";
        };

        function groupUrl(params){
          return "http://localhost:3000/youroom/show/"+params;
        };

        function renderRoom(name, url, count) {
          var room_ui = document.getElementById("room_list");
          // TODO: refactoring
          // set li
          var li_elm = document.createElement("li");
          li_elm.setAttribute("id", "room"+count);
          li_elm.style.marginBottom= 5;

          // set img
          var img_elm = document.createElement("img");
          img_elm.src = picture_url(url);
          img_elm.style.height = 25;
          img_elm.style.width = 35;
          li_elm.appendChild(img_elm);

          // set span tag
          var span_elm = document.createElement("span");
          span_elm.innerHTML = name;
          span_elm.style.marginLeft = 5;
          li_elm.appendChild(span_elm);

          room_ui.appendChild(li_elm);
        };

        function picture_url(url){
          return url + "picture";
        };

        function initializeRoomList(){
          // get information with infoscoop authentication
          gadgets.io.makeRequest("http://localhost:3000/youroom/list_html",
                                 function(response) { makeRoomList(response.data); },
                                 { AUTHORIZATION: gadgets.io.AuthorizationType.IS_SEND_PORTAL_UID_HEADER });

        };


        initializeRoomList();

      });
    </script>

    <div id="main">
      <h5><img src="https://dl.dropbox.com/u/7052609/default_group_picture.png" style="width:15px; height:15px;"/> 全て/未読ガジェットの追加</h5>
      <ul>
        <li><a id="all">全て</a></li>
        <li><a id="not_read_only">未読</a></li>
      </ul>

      <h5><img src="https://dl.dropbox.com/u/7052609/l_06.gif" style="width:20px; height:20px;"/>参加ルーム一覧</h5>
      <ul id="room_list">
      </ul>
    </div>
  ]]></Content>
</Module>

