<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="Youroom ガジェット" author_email="pochi.black@gmail.com" scrolling="true">
  </ModulePrefs>
  <Content type="html"><![CDATA[
    <script type="text/javascript" src="https://dl.dropbox.com/u/7052609/opensocial-jquery.min.js"></script>

    <style>
    #main {
      margin: 0px;
      padding: 0px;
      font-size: small;
    }
    .entry {
      border-bottom: 1px solid silver;
      padding: 4px 0px;
    }
    .entry img {
      float: left;
      margin: 4px;
    }
    .entry .name {
      color: glay;
    }
    .clear_left {
      clear: left;
    }
    .reset {
    }
    .room {
      margin: 3px 0;
    }
    .link {
      color: blue;
      cursor: pointer;
    }
    .link:hover {
      text-decoration: underline;
    }
    form textarea {
      width: 100%;
    }
  </style>

  <script type="text/javascript">
      $(function(){
        function createGroupEntries(data){
          alert(data);
        }

        function fetchData(url){
          alert(url);
          // get information with infoscoop authentication
          gadgets.io.makeRequest(url,
                                 function(response) { createGroupEntries(response.data); },
                                 { AUTHORIZATION: gadgets.io.AuthorizationType.IS_SEND_PORTAL_UID_HEADER });
        }

        function boot(){
          fetchData("http://localhost:3000/youroom/entries/" + "<%= @room_id %>");
        }

        boot();
      });
  </script>

  <div id="main">

  </div>
  ]]></Content>
</Module>

