<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="Youroom ガジェット" author_email="pochi.black@gmail.com" scrolling="true">
    <Require feature="opensocial-0.8" />
    <Require feature="dynamic-height"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

    <script src="http://github.com/creationix/jquery-haml/raw/master/jquery.haml-1.3.js"></script>
    <!-- stylesheet_link_tag select hostname which is infoscoop moved.  -->
    <%= stylesheet_link_tag 'http://localhost:3000/stylesheets/room.css' %>

    <script type="text/javascript">
      $(function(){
        var $loading_img = $("<img src='http://github.com/mataki/youRoom-gadgets/raw/master/home/bouncing_ball.gif' class='loading'>");
        var default_img_url = "https://www.youroom.in/images/default_picture.png";

        function showOneSection(toshow) {
          $('#main, #approval, #waiting').hide();
          $('#' + toshow).show();
        }

        function showResults(result){
          showOneSection('main');
          var $main = $("#main");

          $main.empty();

          $main.haml(["#header",
                     ["#reload.link", "更新する"]]);

          eval(result).each(function(entry, _){
            showEachResult(entry["entry"], $main);
          });
          gadgets.window.adjustHeight();
        }

        function showEachResult(entry, main) {
          main.haml([".root.entry"+"#"+entry["id"],
                    ["%img.profile", {src:getPictureUrl(entry, "<%= @room_id %>"), width:48, height:48}],
                    [".name", entry["participation"]["name"]],
                    [".clear_left"],
                    [".content", entry["content"]],
                    [".navi",
                      [".show.link", "詳細をみる"],
                      [".comment.link", "コメントする"],
                      [".clear_left"]
                    ],
                    ["%form.comment", {action: "#"},
                    ["%textarea", {name: "content"}],
                    ["%input.comment", {type: "button", value: "Post"}]
                    ],
                    [".children"]
                  ]);
        }

        function getPictureUrl(entry, groupId) {
          return "https://www.youroom.in/r/" + groupId + "/participations/" + entry["participation"]["id"] + "/picture";
        }


        function submitComment() {
          if (this.content.value != "") {
            postEntry(this.content.value);
          } else {
            alert("Input content");
          }
          return false;
        }

        function postEntry(content) {
          url = "https://" + getRoomId() + ".youroom.in/entries?format=json";
          callYouRoom(url, "post", bootWithClear, {"entry[content]":content});
        }


        function fetchData(url, successCallback){
          // get information with infoscoop authentication
          gadgets.io.makeRequest(url,
                                 function(response) {
                                   successCallback(response.data);
                                 },
                                 { AUTHORIZATION: gadgets.io.AuthorizationType.IS_SEND_PORTAL_UID_HEADER });
        }

        function bootWithClear() {
          var main = document.getElementById('main');
          // remove childen dom
          while(main.firstChild){
            main.removeChild(main.firstChild);
          }

          getHomeEntries();
        }

        function callYouRoom(url, successCallback, postdata) {
          var params = {};
          params["AUTHORIZATION"] = gadgets.io.AuthorizationType.IS_SEND_PORTAL_UID_HEADER;

          if (postdata) {
            postdata = gadgets.io.encodeValues(postdata);
            params[gadgets.io.RequestParameters.POST_DATA]= postdata;
          }

          gadgets.io.makeRequest(url,
                                 function(response) {
                                   successCallback(response.data);
                                 }, params);
        }

        function getHomeEntries(){
          var url = "http://localhost:3000/youroom/entries/" + "<%= @room_id %>";
          callYouRoom(url, showResults, null);
        }

        $(".link.show").live('click', function() {
          var entry = $(this).parents(".root.entry")[0];
          var entryId = entry.id;
          var groupId = "<%= @room_id %>";
          var url = "http://localhost:3000/youroom/entries/" + groupId + "?mutter_id=" + entryId;
          $(this).addClass('disable').removeClass('show').append($loading_img);

          callYouRoom(url, function(result) {
            var res = eval("("+result+")");
            $(entry).find('.children').empty().haml(getChildrenHaml(res.entry, groupId));
            $('.loading').hide();
            gadgets.window.adjustHeight();
          }, null);
        });

        function getChildrenHaml(entry, groupId) {
          if (entry){
          if (entry.children) {
            var childrenHaml = [];
            $.each(entry.children, function(){
              var childHaml = getEntryHaml(this, groupId);
              childrenHaml.push(childHaml);
            });
           return childrenHaml;
          }
          }
          return null;
        }

        function getEntryHaml(entry, groupId) {
          var haml;
          var groupParam;
          if (groupId) {
            groupParam = {to_param: groupId};
          } else {
            groupParam = entry["participation"]["group"];
          }

          haml = [".entry"+"#"+entry["id"],
                  ["%img.profile", {src:getPictureUrl(entry, groupParam.to_param), width:48, height:48}],
                  [".name", entry["participation"]["name"]],
                  [".group"],
                  [".content", entry["content"]],
                  [".clear_left"],
                  [".navi",
                   [".comment.link", "コメントする"],
                   [".clear_left"]
                  ],
                  ["%form.comment", {action: "#"},
                   ["%textarea", {name: "content"}],
                   ["%input.comment", {type: "button", value: "Post"}]
                  ]
                 ];
          haml.push([".children", getChildrenHaml(entry, groupId)]);
          return haml;
        }

        $(".link.comment").live('click', function(){
          var entry = $(this).parents('.navi').next('form.comment').toggle();
          gadgets.window.adjustHeight();
        });

        $("input.comment").live('click', function(){
          var $form = $(this).parents('form:first');
          var content = $form.find('textarea').val();
          if (content != "") {
            var entryId = $form.parents(".entry")[0].id;
            var groupId = $form.parents(".root.entry").find('.group')[0].attributes[0].value;
            $(this).after($loading_img);
            postEntry(content, groupId, entryId);
          } else {
            alert("Input content");
          }
          return false;
        });

        function postEntry(content, groupId, parentId) {
          var url = "https://www.youroom.in/r/" + groupId + "/entries.json";
          callYouRoom(url, "post", addComment, {"entry[content]":content, "entry[parent_id]": parentId});
        }

        function addComment(result){
          var parent_id = result.entry.parent_id;
          $(".entry#"+parent_id).find("form").hide().end()
            .find(".children:first").haml(getEntryHaml(result.entry)).end()
            .find('form.comment textarea').val('');
          $('.loading').hide();
        }

        $('#reload').live("click", function(){
          $(this).append($loading_img);
          getHomeEntries();
        });

        $('img.profile').live('error', function(){
          alert($(this).attr('src'));
          $(this).attr('src', default_img_url);
        });

        // start
        getHomeEntries();
      });
    </script>
  <div id="main">
  </div>
  ]]></Content>
</Module>

